.detail {
  font-size: 25px;
  font-weight: 400;
}

html
{
  overflow-x: hidden;
}

#p1 {
  padding-left: 20px;
  text-align: center;
  font-weight: 500;
  padding-top: 5px;
  height:79px;
  max-height: 79px;
  margin-bottom: 0;
  overflow: hidden;
}

#p2 {
  float: right;
  padding-right: 20px;
}

#container-content {
  padding: 40px;
  padding-left: 15%;
  text-align: center;
}

form {
  margin: auto;
  padding-bottom: 30px;
}

table {
  margin-left: 3%;
  width: 275px;
  margin-top: 8%;
  left: -1;
  table-layout: fixed;
  text-align: center;
  float: left;
  border: solid black 3px;
  border-collapse: collapse;
  border-radius: 30px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 3px #666; /* this draws the table border  */ 
  box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.28);
  background-color:lavender;
}

td, th {
  width: 60%;
  margin: 0px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: larger;
}


h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 4%;
  /*color: white;*/
}

.container {
  max-width: 90%;
}

.add {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 22px;
  color: black;
}

img {
  width: 100%;
}

.view .mask {
  height: 88%;
}

.bg {
  background-image: url("https://cdn.discordapp.com/attachments/697442510531854397/844997013882929152/wallpaperflare.com_wallpaper.jpg");
  height: 100% !important;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  letter-spacing: 8px;
  padding-top: 0%;
}
h5 {
  letter-spacing: 3px;
  /*font-weight: bold;
  color: black;*/
}
.hr-light {
  border-top: 3px solid white;
  width: 80px;
}

* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.style-1 {
	text-align: center;
}

.btn{
  color:#fff;
  background:rgba(0, 0, 0);
  padding:10px 20px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; 
  color:#1b1b1b;
}